<!DOCTYPE html>
<html>

    <head>
        <title>template</title>
    </head>

    <body>
        <h4>welcome to text analyzer</h4>
        <form action='/analyze' method='get'>
            <textarea name='text' style='margin: 0px; width: 958px; height: 58px;'></textarea><br>
            <input type='checkbox' name='removepunc'>remove punctuations<br>
            <input type='checkbox' name='allcaps'>uppercase<br>
            <input type='checkbox' name='removespace'>remove space<br>
            <input type='checkbox' name='removenewline'>remove new line<br>
            <input type='checkbox' name='countchar'>count char<br>
            <button type='submit'>analyze text</button>
        </form>
    </body>

</html>